body {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

* :focus{
  outline: none;
}
.App {
  text-align: center; 
  width: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: #61dafb;
  margin-bottom: 70px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

ul > li {
  list-style: none;  
  padding: 1em 2em;
  border-bottom: 3px solid #222;
  width: 50%;
  margin: auto;
  text-transform: uppercase;
}

ul > li:hover{
  border-bottom: 3px solid #61dafb;  
  cursor: pointer;  
  font-weight: 500;
}


input, button, label {
  font-size: 1em;
  color: #222;
  margin-top: 10px;
}

input{
  width: 80%;
  margin:auto;
  border-radius: 26px;
  border:2px solid #222;  
  padding: 1em 2em;  

}

button {
  background: none;
  border: 2px solid #222;
  border-radius: 26px;
  padding: 1em 2em;
  margin-left: 15px;  
}


input:hover, button:hover {
  border-color:#61dafb;
  cursor: pointer;
  font-weight: bold; 
  transition: all 0.5s;
  box-shadow: 1px 1px 2px #61dafb;
}

button:disabled {
  background: #222;
  color: #61dafb;
}

.footer {
  padding: 1em 0;
  margin-top:30px;
  border-top: 2px solid #222; 
  border-bottom: 2px solid #222; 
}
